<h1>Welcome</h1>
<p>Guilherme Galeno</p>

<p>Hoje é:
    <b><%= data_br(Date.today) %></b>
</p>

<p>
    <li>
        <a href="/coins">Cadastro de Moedas</a>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</p>

