<h1>Welcome</h1>
<p>Guilherme Galeno</p>

<p>Hoje é:
    <b><%= data_br(Date.today) %></b>
</p>

<%= render "menu"%>

<p>Você está em ambiente de <b> <%= ambiente_rails %> </b></p>

<p>Passe na URL localhost:3000/<b>?key=value</b></p>
<p>Eu sou uma variável de instância/sessão: <b><%= @my_name %></b></p>

